<div id="joke-filter">
  <div [formGroup]="jokeForm">
    <!-- Categories -->
    <div class="selection">
      <h3>Categories</h3>
      <p *ngFor="let cat of availableCategories">
        <input type="radio" formControlName="category" [value]="cat" />
        {{ cat }}
      </p>
    </div>
    <!-- Contains -->
    <div class="selection">
      <h3>Contains</h3>
      <input type="text" formControlName="contains" />
    </div>
  </div>
</div>
<div id="button-get-joke">
  <button (click)="getJoke()">Get Joke</button>
</div>

<div id="joke-list">
  <app-joke-display *ngFor="let joke of jokeHistory" [joke]="joke"></app-joke-display>
</div>
