.jokeSelect{
    border: solid black 1px;
    width: 400px;
}
.jokeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jokeDisplay{
    display:list-item;
    // justify-content: center;
    // align-items: center; 
}