<div class="jokeContainer">
    <div class="jokeSelect">
        <Label><strong>Categories : </strong></Label>
        <input type="radio" name="jokeType" id="programing" value="programing"><label>Programing</label>
        <input type="radio" name="jokeType" id="misc" value="misc"><label>Misc</label>
        <input type="radio" name="jokeType" id="dark" value="dark"><label>Dark</label>
        <input type="radio" name="jokeType" id="pun" value="pun"><label>Pun</label>
        <input type="radio" name="jokeType" id="spooky" value="spooky"><label>Spooky</label>
        <input type="radio" name="jokeType" id="christmas" value="christmas"><label>Christmas</label><br>
        <Label><strong>Contains : </strong></Label>
        <input type="textbox"><br>
        <button class="button" (click)="getJoke()">Tel me</button></div>
</div>
<div class="jokeDisplay">
    <p>{{joke | json}}</p>
    <p>joke 2</p>
    <p>joke 3</p>
</div>
