<div [formGroup]="jokeForm">
  <!-- Categories -->
  <div class="selection">
    <h3>Categories</h3>
    <p *ngFor="let cat of availableCategories">
      <input type="checkbox" formControlName="category" [value]="cat" />
      {{ cat }}
    </p>
  </div>
  <!-- Categories -->
  <div class="selection">
    <h3>Blacklist</h3>
    <p *ngFor="let flag of availableBlacklistFlags">
      <input type="checkbox" formControlName="blacklistFlags" [value]="flag" />
      {{ flag }}
    </p>
  </div>
  <!-- Type -->
  <div class="selection">
    <h3>Type</h3>
    <p *ngFor="let type of availableTypes">
      <input type="checkbox" formControlName="blacklistFlags" [value]="type" />
      {{ type }}
    </p>
  </div>
  <!-- Contains -->
  <div class="selection">
    <h3>Contains</h3>
    <input type="text" formControlName="contains" />
  </div>
</div>
<div id="button">
  <button (click)="getJoke()">Get Joke</button>
</div>
