/* You can add global styles to this file, and also import other style files */
div.parent {
  background-color: blue;
  height: 200px;
  width: 200px;
}
div.child {
  background-color: yellow;
  height: 100px;
  width: 100px;
}
div.sibling {
  background-color: green;
  height: 200px;
  width: 200px;
}
